<div class="major_schemes_home">
    <div class="major_schemes_home_content1">
        <h1>What is Farmer Schemes?</h1>
        <p>The Government has rolled out a number of new initiatives like Soil Health Card Scheme, Neem Coated Urea,
            Paramparagat Krishi Vikas Yojana (PKVY), Pradhan Mantri Krishi Sinchayee Yojana (PMKSY), National
            Agriculture Market (e-NAM), Pradhan Mantri Fasal Bima Yojana (PMFBY) and Interest Subvention Scheme.</p>
    </div>
    <div class="major_schemes_home_content2">
        <h1>Pradhan Mantri Fasal Bima Yojana</h1>
        <p>PMFBY aims to provide a comprehensive insurance cover against failure of the crop thus helping in stabilising the income of the farmers. The Scheme covers all Food & Oilseeds crops and Annual Commercial/Horticultural Crops for which past yield data is available and for which requisite number of Crop Cutting Experiments (CCEs) are being conducted under General Crop Estimation Survey (GCES). The scheme is implemented by empanelled general insurance companies. Selection of Implementing Agency (IA) is done by the concerned State Government through bidding. The scheme was earlier compulsory for loanee farmers availing Crop Loan /KCC account for notified crops and voluntary for other others, but has been made voluntary since 2020 when reforms in the scheme were introduced.[2] The scheme is being administered by Ministry of Agriculture and Farmers Welfare.
            
            The scheme has been beset by a number of problems for the farmers with unpaid dues in thousands of crores while insurance companies have pocketed the money.</p><br>
        
        <a routerLink="/Schemes">More Schemes</a>
        <p> </p>
    </div>
</div>