<div class="admin_crops_content">
    <a href="#">
        <img src="../../../../assets/Images/product_image/j1.png" width="80" height="80" alt="">
        <h2>Rabi</h2>
        <p *ngFor="let details of rabi_count">{{details.count}}</p>
    </a>
    <a href="#">
        <img src="../../../../assets/Images/product_image/j1.png" width="80" height="80" alt="">
        <h2>Kharif</h2>
        <p *ngFor="let details of kharif_count">{{details.count}}</p>
    </a>
    <a href="#">
        <img src="../../../../assets/Images/product_image/j1.png" width="80" height="80" alt="">
        <h2>Zaid</h2>
        <p *ngFor="let details of zaid_count">{{details.count}}</p>
    </a>
</div>
