<div class="agent_main_bar">
    <div class="agent_main_bar_one">
        <a routerLink="/Crops_form">
            <img src="../../../assets/Images/agent_image/g2.png" alt="" width="180" height="140">
            <h2>Crops</h2>
        </a>
        <a routerLink="/Products_form">
            <img src="../../../assets/Images/agent_image/g1.png" alt="" width="180" height="140">
            <h2>Products</h2>
        </a>
        <a routerLink="/News_form">
            <img src="../../../assets/Images/agent_image/g3.png" alt="" width="180" height="140">
            <h2>News</h2>
        </a>
        <a routerLink="/Schemes_form">
            <img src="../../../assets/Images/agent_image/g4.png" alt="" width="180" height="140">
            <h2>Schemes</h2>
        </a>
    </div>
</div>