<div class="major_home_footer">
    <div class="major_home_footer_content1">
        <img src="../../../../assets/Images/logo.png" width="140" height="100" alt="major_logo_name">

        <p>“To forget how to dig the earth and tend the soil is to forget ourselves. “<br><br><b>- Mahatma Gandhi</b>
        </p>
    </div>

    <div class="major_home_footer_main">
        <div class="major_home_footer_content2">
            <p>Website Links</p>
            <a href="">Home</a>
            <a href="">Crops</a>
            <a href="">Product</a>
            <a href="">Schemes</a>
            <a href="">Climate</a>
        </div>

        <div class="major_home_footer_content3">
            <p>Product Category</p>
            <a href="">Seeds</a>
            <a href="">Foods</a>
            <a href="">Grains</a>
            <a href="">Machinery</a>
            <a href="">Pesticides</a>
        </div>
        <div class="major_home_footer_content4">
            <p>Crops Types</p>
            <a href="">Rabi Crops</a>
            <a href="">Kharif Crops</a>
            <a href="">Zaid Crops</a>
        </div>
        <div class="major_home_footer_content5">
            <a href="">F</a>
            <a href="">I</a>
            <a href="">T</a>
            <a href="">Y</a>
            <a href="">W</a>
        </div>
    </div>
</div>