<div class="major_home_product">
    <h1>Product</h1>
    <a href="#" class="major_home_product_content">
        <img src="../../../../assets/Images/Product1.png" alt="sample1" width="250" height="180">
        <p>sample product one</p>
        <b>2000/-</b>
    </a>
    <a href="#" class="major_home_product_content">
        <img src="../../../../assets/Images/Product2.png" alt="sample1" width="250" height="180">
        <p>sample product one</p>
        <b>2000/-</b>
    </a>
    <a href="#" class="major_home_product_content">
        <img src="../../../../assets/Images/Product3.png" alt="sample1" width="250" height="180">
        <p>sample product one</p>
        <b>2000/-</b>
    </a>
    <a href="#" class="major_home_product_content">
        <img src="../../../../assets/Images/Product4.png" alt="sample1" width="250" height="180">
        <p>sample product one</p>
        <b>2000/-</b>
    </a>
</div>