.major_home_product {
    position: absolute;
    bottom: -755px;
    left: 0px;
    /* background-color: #218c74; */
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;

    background-image: url('../../../../assets/Images/b9.jpg');
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

.major_home_product h1 {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
}

.major_home_product_content{
    padding: 15px;
    margin-top: 100px;
    text-decoration: none;
    text-align: center;
    border: 2px solid #218c74;
    /* padding: 10px; */
    margin-bottom: 50px;
    transition-duration: 0.6s;

    background-color: #218c74;
}

.major_home_product_content:hover {
    opacity: 0.8;
}

.major_home_product_content p {
    color: white;
}


.major_home_product_content b {
    color: white;
}
