<div class="major_home_product">
    <h1>Top Product</h1>
    <a href="#" class="major_home_product_content">
        <img src="../../../../assets/Images/product_image/p1.png" alt="sample1" width="220" height="150">
        <p>sample product one</p>
        <b>2000/-</b>
    </a>
    <a href="#" class="major_home_product_content">
        <img src="../../../../assets/Images/product_image/p2.png" alt="sample1" width="220" height="150">
        <p>sample product one</p>
        <b>2000/-</b>
    </a>
    <a href="#" class="major_home_product_content">
        <img src="../../../../assets/Images/product_image/p3.png" alt="sample1" width="220" height="150">
        <p>sample product one</p>
        <b>2000/-</b>
    </a>
    <a href="#" class="major_home_product_content">
        <img src="../../../../assets/Images/product_image/p4.png" alt="sample1" width="220" height="150">
        <p>sample product one</p>
        <b>2000/-</b>
    </a>
</div>