<app-navbar></app-navbar>

<div class="major_agent_form">
    <form action="/agent" enctype="multipart/form-data">
        <h1>Add agent</h1>
        <input type="text" name="agent_name" id="agent_name" placeholder="Enter Name">
        <br>
        <input type="email" name="agent_email" id="agent_email" placeholder="Enter Email">
        <br>
        <textarea name="agent_description" id="agent_description" cols="30" rows="5"
            placeholder="Enter description"></textarea>
        <br>
        <input type="submit" name="agent_submit" id="agent_submit">
    </form>
</div>