<div class="admin_dashboard_content">
    <a routerLink="/crops_content">
        <!-- <img src="../../../../assets/Images/product_image/j1.png" width="70" height="70" alt=""> -->
        <p *ngFor="let details of crops_count">{{details.count}}</p>
        <h2>Crops</h2>
    </a>
    <a routerLink="/product_content">
        <!-- <img src="../../../../assets/Images/product_image/j1.png" width="70" height="70" alt=""> -->
        <p *ngFor="let details of product_count">{{details.count}}</p>
        <h2>Product</h2>
    </a>
    <a href="#">
        <!-- <img src="../../../../assets/Images/product_image/j1.png" width="70" height="70" alt=""> -->
        <p *ngFor="let details of schemes_count">{{details.count}}</p>
        <h2>Schemes</h2>
    </a>
    <a href="#">
        <!-- <img src="../../../../assets/Images/product_image/j1.png" width="70" height="70" alt=""> -->
        <p>54</p>
        <h2>Demo1</h2>
    </a>
    <!-- <a href="#">
        <img src="../../../../assets/Images/product_image/j1.png" width="80" height="80" alt="">
        <h2>Demo1</h2>
        <p>54</p>
    </a> -->
</div>

