<app-navbar></app-navbar>
<app-crops-background></app-crops-background>
<div class="major_climate_main">
    <div class="major_climate_form">
        <input type="text" name="cityname" placeholder="Enter City Name" id="cityname">
        <!-- <button (load)="demo()">Find</button> -->
    </div>
    <div class="major_climate_Content">
        <div>
            <p>Season: <br><br><b>{{s1}}</b></p>
        </div>
        <div>
            <p>Temperature: <br><br> <b>{{temperature}}</b></p>
        </div>
        <div>
            <p>humidity: <br><br> <b>{{humidity}}</b></p>
        </div>
        <div>
            <p>Sunshines: <br><br> <b>{{h1}}</b></p>
        </div>
        <div>
            <p>HeatWaves: <br><br> <b>{{heat}}</b></p>
        </div>
        <div>
            <p>Wind: <br><br> <b>{{wind}}</b></p>
        </div>
    </div>
</div>