<app-navbar></app-navbar>
<app-product-background></app-product-background>
<app-product-sidebar></app-product-sidebar>

<div class="major_product_grains">
    <!-- <div *ngFor="let details of product_details_grains">
        <p>Name : {{details.product_name}}</p>
    </div> -->

    <div class="major_product_content_main">
        <a [routerLink]="['/Product_buy/',details.product_name]" *ngFor="let details of product_details_grains">
            <img src="../../../../assets/Images/product_image/p12.png" alt="product_image" width="150" height="120">
            <h3>{{details.product_name}}</h3>
            <b>{{"$"+details.product_price}}</b>
        </a>
    </div> 
</div>

<button routerLink="/Product_form" id="major_btn_add_product" >Add Product</button>