<div class="admin_product_content">
    <a href="#">
        <img src="../../../../assets/Images/product_image/j1.png" width="80" height="80" alt="">
        <h2>Seeds</h2>
        <p *ngFor="let details of seeds_count">{{details.count}}</p>
    </a>
    <a href="#">
        <img src="../../../../assets/Images/product_image/j1.png" width="80" height="80" alt="">
        <h2>Foods</h2>
        <p *ngFor="let details of foods_count">{{details.count}}</p>
    </a>
    <a href="#">
        <img src="../../../../assets/Images/product_image/j1.png" width="80" height="80" alt="">
        <h2>Machinery</h2>
        <p *ngFor="let details of machinery_count">{{details.count}}</p>
    </a>
    <a href="#">
        <img src="../../../../assets/Images/product_image/j1.png" width="80" height="80" alt="">
        <h2>Grains</h2>
        <p *ngFor="let details of grains_count">{{details.count}}</p>
    </a>
    <a href="#">
        <img src="../../../../assets/Images/product_image/j1.png" width="80" height="80" alt="">
        <h2>Pesticides</h2>
        <p *ngFor="let details of pesticides_count">{{details.count}}</p>
    </a>
</div>

