<div class="major_crops_home">
    <!-- <h1>CROPS</h1> -->
    <div class="major_crops_home_content">
        <h2>What is Crop?</h2>
        <p>A crop is a plant that can be grown and harvested extensively for profit or subsistence. When the plants of the same kind are cultivated at one place on a large scale, it is called a crop. Most crops are cultivated in agriculture or hydroponics. Crop production supports the huge population of a country. All individuals depend on the crops for their food. It also provides employment to a large number of people.
        </p>
    </div>
    <h1>Find Crop Details</h1>
    <form action="" method="post" enctype="multipart/form-data" (ngSubmit)="onSingleCropsDetails()" [formGroup]="userSingleCropsValidation" >
        <input type="text" name="crop_name" id="crop_name" [(ngModel)]="crop_name"  formControlName="crop_name" placeholder="Crop Name">
        <br><br>
        <input type="submit"  name="crop_submit" [routerLink]="['/Crops_details/',crop_name]" id="crop_submit">
    </form>
</div>

<!-- <app-product-home>  </app-product-home> -->