.major_crops_home {
    position: absolute;
    top: 100%;
    /* padding: 100px; */
    background-color: #006266;
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: start;
}


.major_crops_home h1 {
    position: absolute;
    left: 55%;
    top: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 20px;
}

.major_crops_home form {
    position: relative;
    left: 235px;
    top: 30px;
}

.major_crops_home input {
    padding: 10px;
    padding-right: 50px;
    border: 1px solid darkgreen;
    color: darkgreen;
    outline: none;
    position: relative;
    top: 100px;
    left: -20px;
}

#crop_submit {
    color: white;
    background-color: darkgreen;
    width: 50%;
    padding: 10px 25px;
    border: 1px solid white;
    transition-duration: 0.6s;
    cursor: pointer;
    position: relative;
    left: 35px;
}

#crop_submit:hover {
    color: darkgreen;
    background-color: white;
}

.major_crops_home_content {
    background-color: white;
    width: 30%;

    position: absolute;
    left: 140px;
    top: 50px;

    padding: 20px 30px;
}

.major_crops_home_content h2 {
    text-align: center;
    font-size: 25px;
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.major_crops_home_content p {
    text-align: center;
    color: #1B1464;
}