<!-- <div class="major_login_background">
    <div class="major_login_background_one">
        <img src="../../../../assets/Images/login_image/001-orchard.png" alt="" width="150" height="120">
        <img src="../../../../assets/Images/login_image/002-agriculture.png" alt="" width="150" height="120">
    </div>
    <br>
    <div class="major_login_background_two">
        <img src="../../../../assets/Images/login_image/003-chemical.png" alt="" width="150" height="120">
        <img src="../../../../assets/Images/login_image/004-harvester.png" alt="" width="150" height="120">
    </div>
</div> -->

<!-- <div class="major_login_background">
    <img src="../../../../assets/Images/login_image/j1.png" alt="">
</div> -->