<div class="major_login_form">
    <h1>Log In</h1>
    <form action="" method="post" enctype="multipart/form-data" [formGroup]="userValidationLogin" (ngSubmit)="onLogin()">
        <input type="email" name="email" id="email" placeholder="Enter Email" formControlName="email" required>
        <br>
        <input type="password" name="password" id="password" placeholder="Enter Password" formControlName="password" required>
        <br>
        <input type="submit" name="submit" id="submit" value="Log In">
        <br><br>
    </form>

    <p>New User?<a routerLink="/Signup">Register Here</a></p>
</div>