<img src="../../../../assets/Images/logo2.png" width="140" height="100" alt="">
<div class="major_navbar_content1">

    <!-- <h1>hello world!</h1> -->
    <a routerLink="/">Home</a>
    <a routerLink="/Crops">Crops</a>
    <a routerLink="/Product">Products</a>
    <!-- <a routerLink="/News">News</a> -->
    <!-- <a routerLink="/Testing">Testing</a> -->
    <a routerLink="/Schemes">Schemes</a>
    <a routerLink="/Climate">Climate</a>
    <!-- <a routerLink="/Agent">Agent</a> -->
</div>
<!-- 
<div class="major_navbar_content2">
    Hello JOker
</div> -->