<div class="major_schemes_content">
    <h1>Schemes / Programs</h1>
    <a href="#" *ngFor="let details of schemes_details" [routerLink]="['/Schemes_details',details.id]">
        <p>{{details.name}}</p>
    </a>
    <!-- <a href="#">
        <p>RASHTRIYA KRISHI VIKAS YOJANA - (RKVY)</p>
    </a>
    <a href="#">
        <p>NATIONAL MISSION FOR SUSTAINABLE AGRICULTURE - (NMSA)</p>
    </a>
    <a href="#">
        <p>PRADHAN MANTRI KRISHI SINCHAYI YOJANA - (PMKSY)</p>
    </a>
    <a href="#">
        <p>NATIONAL MISSION ON AGRICULTURE EXTENSION AND TECHNOLOGY - (NMAET)</p>
    </a>
    <a href="#">
        <p>NATIONAL FOOD SECURITY MISSION - (NFSM)</p>
    </a>
    <a href="#">
        <p>PRADHAN MANTRI FASAL BIMA YOJANA - (PMFBY)</p>
    </a>
    <a href="#">
        <p>WEATHER BASED CROP INSURANCE SCHEME - (WBCIS)</p>
    </a> -->
</div>