.major_crops_content {
    background-color:white;
    width: 70%;
    height: 85%;
    color: black;
    position: relative;
    top: 0%;
    left: 20%;
    margin: 10px 80px;
    overflow: scroll;
    font-family: Arial, Helvetica, sans-serif;
}

.major_crops_content h1 {
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.major_crops_content_about {
    padding: 10px 50px;
}
.major_crops_content_climate {
    padding: 10px 50px;
}
.major_crops_content_history {
    padding: 10px 50px;
}
.major_crops_content_nutrition {
    padding: 10px 50px;
}
.major_crops_content_fertilizer {
    padding: 10px 50px;
}
.major_crops_content_soil {
    padding: 10px 50px;
}
.major_crops_content_commercial {
    padding: 10px 50px;
}